[Unit]
Description=AAaalter Bot

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/aaalter/venv/bin/python aaalter_matrix.py 
User=aaalter
WorkingDirectory=/home/aaalter
Restart=always
KillSignal=SIGKILL
StandardError=syslog
